.container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  cursor: pointer;
}

.filter {
  width: 40%;
}

.selected-message {
  background-color: gold;
}

.clear-button {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-data {
  color: white;
  text-align: center;
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 10px;
}