<mat-toolbar>
  <span>NCHS Message Sniffer {{ version }}</span>
  <span class="toolbar-spacer"></span>
  <button *ngIf="!playingEvents" class="play-buttons" mat-icon-button (click)="play()" matTooltip="Resume Events">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf="playingEvents" class="play-buttons"mat-icon-button (click)="pause()" matTooltip="Pause Events">
    <mat-icon>pause</mat-icon>
  </button>
  <button [disabled]="toolbarButtonsDisabled" mat-icon-button (click)="clearTableData()" matTooltip="Clear events in the Table">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
<div class="split">
  <as-split direction="horizontal">
    <as-split-area [size]="30">
      <div class="topics">
        <mat-selection-list [multiple]="false" (selectionChange)="selectedTopicChanged($event)">
          <mat-list-option *ngFor="let topic of topics" [value]="topic">{{ topic }}</mat-list-option>
        </mat-selection-list>
      </div>
    </as-split-area>
    <as-split-area [size]="70">
      <message-view [topic]="selectedTopic" (messagesChanged)="tableMessagesChanged($event)"></message-view>
    </as-split-area>
  </as-split>
</div>
